body {
    background-image: linear-gradient(to right, rgb(201, 201, 236),white,rgb(201, 201, 236));
    display: flex;
    flex-direction: column;
}

header {
    background-color: navy;
    padding: 20px;
}

header li a {
    color: gray;
    font-size: 12px;
}
footer {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hero",sans-serif;
    flex: 1;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    flex: 1 0 auto;
}